/* imports das fontes */

/* TITILLIUM WEB */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titillium/TitilliumWeb-Black.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: titilium-bold;
    src: url(../assets/fonts/titillium/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes genéricas */
.mostrar-menu {
    left: 0 !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;

}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}


/* somente links "filhos diretos" */
header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav>a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
    gap: 50px;
}

/* menu lateral direito - ícones */
.menu2 {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top bottom, rgba(27, 30, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(20px);

    transition: right 0.4s;
}

.menu-user {
    right: 0vw !important;
}

/* ----------- MAIN ------------ */
main {
    margin-top: 60px;
}

/* ----- banner ------ */

.banner {
    width: 375px;
    height: 664px;
    background-image: url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main section h1 {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 10px red;
    color: white;
    font-size: 40px;
    font-family: TitilliumWeb-Black;
}

main section .botao-sobre {
    font-family: titilium-bold;
    font-size: 24px;
    background-color: #F9AA01;
    width: 170px;
    height: 40px;
    border-radius: 8px;
    border-color: #F9AA01;
    text-transform: uppercase;
    margin-bottom: 35%;
}

/* sessão cards fifa23 e cs_go */

.fundo_jogos {
    width: 100vw;
    height: 590px;
    background-color: #1B1426;
}

.cards_jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

main section article img {
    width: 80vw;
    height: 170px;
    display: flex;
    border-radius: 8px;
}

.time_progamer {
    width: 100vw;
    height: 1536px;
    background-color: #F9AA01;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_progamer {
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-shadow: none;
    padding-top: 25%;
}

section hr {
    border: 2px solid black;
    width: 50vw;
    margin: 50px auto 100px;
}

/* ----------- cards personagens ----------- */

.cards_progamer {
    width: 90vw;
    height: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.imagens_personagens_cards {
    width: 86vw;
    height: 511px;
}

/* ---------------- sessão cards noticias -------------*/

/* .news-cards-container {
    border: 2px solid white;
    display: flex;
    justify-items: center;
    align-items: center;
   

} */

.news {
    /* dis */
    background-image: url(../assets/images/backgrund_notícias_desktop.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 1440px;
}

.news::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.news h2 {
    font-family: "TitilliumWeb-Black";
    color: white;
    font-size: 64px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.news hr {
    position: relative;
    width: 200px;
    border: 2px #F9AA01 solid;
}

.box-news h4 {
    font-family: "TitilliumWeb-Black";
    font-size: 24px;
    font-weight: 1;
    padding: 25px 25px 0 25px;
}

.box-news p {
    font-family: "quicksand";
    padding: 20px 25px 0 25px;
    font-size: 16px;
}

.news-cards {
    margin-bottom: 20px;
}

.news-cards img {
    width: 100%;
}

.box-news {
    width: 285px;
}

.box-news {
    border-radius: 8px;
    width: 285px;
    height: 183px;
    background-image: linear-gradient(141.58deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 98.48%);
    backdrop-filter: blur(3px);
    color: white;
}

/* ------------ footer mobile ------------- */

footer {
    background-image: url(../assets/images/backgroung_footer\ 1.png);
}

footer #sobre {
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
    width: 358px;
    height: 316px;
}

footer #sobre p {
    width: 320px;
    padding-top: 5%;

    color: white;
    font-family: quicksand;
    font-size: 20px;
}

footer #midias-sociais-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer links úteis */

footer #links-uteis {
    border: 1px solid white;
}

footer .titulo-footer {
    color: white;
    font-family: TitilliumWeb-Black;
    font-size: 30px;
    text-transform: uppercase;
}

footer hr {
    border: 2px solid #F9AA01;
    width: 126px;
}

footer .menu-footer {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

footer .menu-footer a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 1px solid white;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1440px) {

    #menu-user {
        right: 0 !important;
        backdrop-filter: blur(0);
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 150px;
        height: 90px;
    }

    .layout-grid {
        width: 100vw;
        max-width: 1200px;
    }

    header {
        position: static;
        height: 140px;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        width: 415px;
        display: flex;
        justify-content: space-between;

        font-family: Inter;
        font-weight: 400;
        color: white;
    }

    header .header-top .contatos>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    header .header-top .midias-sociais {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .menu-pontinhos,
    header .mostrarMenu,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .header-bottom {
        height: 90px;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom .menu-user {
        position: fixed;
        flex-direction: row;
        width: 180px;
        height: 50px;
        background-color: transparent;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        align-items: center;

    }

    header .header-bottom nav>a:hover {
        color: #F9AA01;
        border: none;
    }

    main {
        margin-top: 0;
    }

    main .banner {
        background-image: url(../assets/images/Banner_background_1\ 1.png);
        width: 100vw;
        height: 722px;
    }

    main .titulos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 722px;
    }

    main .titulos h1 {
        font-family: TitilliumWeb-Black;
        font-weight: 80px;

    }

    main .fundo_jogos .cards_jogos {
        display: flex;
        flex-direction: row;
    }

    main .fundo_jogos img {
        width: 556px;
        height: 313px;
    }

    /* .titulo_progamer h1 {
        
    } */

    main .titulo_progamer {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: TitilliumWeb-Black;
        font-size: 48px;
        padding-top: 0;
        width: 50vw;
        height: 200px;
    }

    hr {
        border: 1px solid black;
        width: 250px;
    }

    main .time_progamer {
        height: 1000px;
        display: flex;
        flex-direction: column;

    }

    main .time_progamer .cards_progamer {
        display: flex;
        flex-direction: row;

    }

    main .time_progamer article img {
        width: 425px;
        height: 692px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    /* ---------- footer desktop ---------- */



}

/* ---------- sessão progamer ------------ */
/* ---------- titulo e fundo  ------------ */